* {
    box-sizing: border-box;
}

body {
    background-image: url('lotto.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.wrap {
    margin: 50px auto;
    width: 70vw;
    min-height: 300px;
    height: 80vh;
    background-color: #000;
    opacity: 80%;
    color: yellow;
    border: solid 1px yellow;
    border-radius: 20px;
    text-align: center;
}

h1 {
    margin: 30px;
    text-align: center;
}

div {
    margin: 30px;
}

p {
    font-size: 22px;
    font-weight: bold;
}

input {
    width: 50px;
    padding: 5px;
    border: solid 1px yellow;
    font-size: 16px;
}

button {
    margin-left: 5px;
    padding: 5px 10px;
    border: solid 1px yellow;
    background: #000;
    color: yellow;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

button:hover {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.stats {
    display: flex;
    width: 90%;
}

.stats p {
    font-size: 16px;
    flex: 1;
}